Repository Rue-pro/Flashcardis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --quiet --fix",
    "prettier --write --ignore-unknown"
  ],
  "*.{css,scss}": "stylelint --fix",
  "*.{json,html}": ["prettier --write --ignore-unknown"]
}

style: add new palette
  src/app/popup/styles.scss
Due: stylelint --fix

chore: add button component
  src/app/popup/styles.scss
  src/shared/ui/Button/index.tsx
  src/shared/ui/Button/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

style: add popup width and height, decrease heading typography size
  src/app/popup/styles.scss
Due: stylelint --fix

chore: add modal component
  src/shared/ui/Modal/index.tsx
  src/shared/ui/Modal/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

fix: add translation for close text
  public/_locales/en/messages.json
Due: prettier --write --ignore-unknown

chore: move button colors to different interface, add custom class name
  src/shared/ui/Button/index.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: add close icon
  src/shared/ui/icons/ClearIcon.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add toast component
  src/shared/ui/Toast/index.tsx
  src/shared/ui/Toast/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

fix: fix removing toast
  src/shared/ui/Toast/index.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: add toast store
  src/shared/ui/Toast/toastStore.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: rename interfaces, separate toast file, move remove functionality to store
  src/shared/ui/Button/index.tsx
  src/shared/ui/Toast/Toast.tsx
  src/shared/ui/Toast/ToastContext.tsx
  src/shared/ui/Toast/index.tsx
  src/shared/ui/Toast/toastStore.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add new type of operation result, update chrome browser, add exhaustive errors
  public/_locales/en/messages.json
  src/shared/browser/chrome.ts
  src/shared/browser/types.ts
  src/shared/libs/operationResult/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add abstract storage class
  src/entities/storage/index.ts
  src/entities/storage/model/AbstractStorage.ts
  src/entities/storage/model/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add selected languages storage
  src/entities/language/index.ts
  src/entities/language/model/SelectedLanguagesStorage.ts
  src/entities/language/model/index.ts
  src/entities/language/model/languages.ts
  src/entities/language/model/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add copy button
  src/shared/ui/CopyButton/index.tsx
  src/shared/ui/icons/CopyIcon.tsx
  src/shared/ui/icons/DoneIcon.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add error details component
  src/shared/ui/ErrorDetails/index.tsx
  src/shared/ui/ErrorDetails/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add useAddErrorToast hook
  src/shared/ui/Toast/index.tsx
  src/shared/ui/Toast/useAddErrorToast.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add select languages functionality
  public/_locales/en/messages.json
  src/app/popup/Popup.tsx
  src/app/popup/styles.scss
  src/features/language/SelectLanguages/hooks/useSelectLanguages.tsx
  src/features/language/SelectLanguages/index.ts
  src/features/language/SelectLanguages/ui/SelectLanguages.tsx
  src/features/language/SelectLanguages/ui/index.ts
  src/shared/ui/Toast/Toast.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

test: update chrome test accroding to new error format
  src/shared/browser/__test__/chrome.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: add tests for use select languages hook
  package.json
  pnpm-lock.yaml
  src/__tests__/setupTests.ts
  src/__tests__/testUtils.tsx
  src/entities/storage/model/AbstractStorage.ts
  src/features/language/SelectLanguages/hooks/__tests__/useSelectLanguages.test.ts
  src/shared/ui/Toast/__mocks__/useAddErrorToast.tsx
  src/shared/ui/Toast/__mocks__/useToast.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: add tests for select languages component
  src/features/language/SelectLanguages/hooks/__mock__/useSelectLanguages.ts
  src/features/language/SelectLanguages/ui/__tests__/SelectLanguages.test.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: rename abstract storage to storage
  src/entities/language/model/SelectedLanguagesStorage.ts
  src/entities/storage/model/Storage.ts
  src/entities/storage/model/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: rename some types
  src/shared/browser/__mocks__/chrome.ts
  src/shared/browser/__test__/chrome.test.ts
  src/shared/ui/Toast/toastStore.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: change toast hook to nanostores
  package.json
  pnpm-lock.yaml
  public/_locales/en/messages.json
  src/__tests__/setupTests.ts
  src/app/popup/Popup.tsx
  src/shared/ui/Toast/ToastContext.tsx
  src/shared/ui/Toast/helpers/__mock__/getErrorToast.ts
  src/shared/ui/Toast/helpers/getErrorToast.tsx
  src/shared/ui/Toast/helpers/index.ts
  src/shared/ui/Toast/index.tsx
  src/shared/ui/Toast/model/__mock__/store.ts
  src/shared/ui/Toast/model/index.ts
  src/shared/ui/Toast/model/store.ts
  src/shared/ui/Toast/model/types.ts
  src/shared/ui/Toast/toastStore.ts
  src/shared/ui/Toast/ui/Toast.tsx
  src/shared/ui/Toast/ui/Toasts.tsx
  src/shared/ui/Toast/ui/index.ts
  src/shared/ui/Toast/ui/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: fix types, remove unused components
  src/app/popup/Popup.tsx
  src/shared/browser/types.ts
  src/shared/libs/operationResult/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: change select languages hook to nanostores
  package.json
  pnpm-lock.yaml
  src/__tests__/testUtils.tsx
  src/entities/language/model/SelectedLanguagesStorage.ts
  src/entities/language/model/index.ts
  src/features/language/SelectLanguages/hooks/__mock__/useSelectLanguages.ts
  src/features/language/SelectLanguages/hooks/__tests__/useSelectLanguages.test.ts
  src/features/language/SelectLanguages/hooks/useSelectLanguages.tsx
  src/features/language/SelectLanguages/model/__mock__/store.ts
  src/features/language/SelectLanguages/model/__tests__/store.test.ts
  src/features/language/SelectLanguages/model/store.ts
  src/features/language/SelectLanguages/ui/SelectLanguages.tsx
  src/features/language/SelectLanguages/ui/__tests__/SelectLanguages.test.tsx
  src/shared/ui/Toast/__mocks__/useAddErrorToast.tsx
  src/shared/ui/Toast/__mocks__/useToast.tsx
  src/shared/ui/Toast/useAddErrorToast.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add tabs component
  src/shared/ui/Button/styles.module.scss
  src/shared/ui/Tabs/helpers/a11yProps.ts
  src/shared/ui/Tabs/helpers/index.ts
  src/shared/ui/Tabs/index.ts
  src/shared/ui/Tabs/model/types.ts
  src/shared/ui/Tabs/ui/Tab.tsx
  src/shared/ui/Tabs/ui/TabPanel.tsx
  src/shared/ui/Tabs/ui/Tabs.tsx
  src/shared/ui/Tabs/ui/TabsList.tsx
  src/shared/ui/Tabs/ui/index.ts
  src/shared/ui/Tabs/ui/styles.module.scss
  src/shared/ui/icons/ArrowUp.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add dictionary card
  src/entities/dictionary/ui/DictionaryCard/DictionaryCard.tsx
  src/entities/dictionary/ui/DictionaryCard/index.ts
  src/entities/dictionary/ui/DictionaryCard/styles.module.scss
  src/entities/dictionary/ui/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add no selected languages placeholder
  src/features/language/SelectLanguages/ui/NoSelectedLanguages.tsx
  src/features/language/SelectLanguages/ui/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add dictionary types
  src/entities/dictionary/model/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add select dictionary variant component
  src/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryVariant.tsx
  src/features/dictionary/SelectDictionaryVariant/ui/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add languages global store
  src/entities/language/model/__tests__/store.test.ts
  src/entities/language/model/index.ts
  src/entities/language/model/store.ts
  src/features/language/SelectLanguages/model/__tests__/store.test.ts
  src/features/language/SelectLanguages/model/store.ts
  src/features/language/SelectLanguages/ui/SelectLanguages.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add dictionary store
  src/entities/dictionary/index.ts
  src/entities/dictionary/model/index.ts
  src/entities/dictionary/model/store.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add select dictionary variant feature
  src/app/popup/Popup.tsx
  src/features/dictionary/SelectDictionaryVariant/index.ts
  src/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryList.tsx
  src/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryVariant.tsx
  src/features/dictionary/SelectDictionaryVariant/ui/index.ts
  src/features/dictionary/SelectDictionaryVariant/ui/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: add local store, change storage name to singular in select languages feature
  src/entities/language/model/__tests__/store.test.ts
  src/entities/language/model/store.ts
  src/features/language/SelectLanguages/model/__tests__/store.test.ts
  src/features/language/SelectLanguages/model/store.ts
  src/features/language/SelectLanguages/ui/SelectLanguages.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: change storage name to singular in select dictionary variant feature
  src/entities/dictionary/model/store.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add translations
  public/_locales/en/messages.json
Due: prettier --write --ignore-unknown

test: add tests for dictionary select variant functionality
  src/entities/dictionary/model/__tests__/store.test.ts
  src/entities/dictionary/model/dictionaries.ts
  src/entities/dictionary/model/store.ts
  src/entities/dictionary/model/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown
