Repository Rue-pro/Flashcardis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add get language code by url function
  src/entities/language/model/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add get dictionary by page url function
  src/entities/dictionary/model/helpers.ts
  src/entities/dictionary/model/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add get selectors from dictionary function
  src/entities/dictionary/model/helpers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add get dictionaries urls function
  src/entities/dictionary/model/helpers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add auto new word function
  src/app/background/features/addNewWord/index.ts
  src/app/background/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add auto new note function
  src/app/background/features/autoAddNewNote/api/getLanguageFromPage.ts
  src/app/background/features/autoAddNewNote/api/getNoteFromDictionary.ts
  src/app/background/features/autoAddNewNote/api/index.ts
  src/app/background/features/autoAddNewNote/index.ts
  src/app/background/features/autoAddNewNote/ui.tsx
  src/app/background/index.ts
  src/app/content/dictionary/helpers/getNotesFields.ts
  src/app/content/dictionary/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: remove unused code
  src/app/content/ankiWeb/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: fix dictionary store tests
  src/app/background/features/autoAddNewNote/ui.tsx
  src/entities/dictionary/model/helpers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: move usage of chrome functions to browser
  src/app/background/features/addNewWord/index.ts
  src/app/background/features/autoAddNewNote/ui.tsx
  src/app/background/index.ts
  src/shared/browser/chrome.ts
  src/shared/browser/index.ts
  src/shared/browser/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

docs: add readme
  README.md
Due: none

chore: add dictionary from portuguese and korean
  src/entities/dictionary/model/dictionaries.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

refactor: move only background chrome functions to background browser, divide browser
  src/background/app/index.ts
  src/background/features/addNewWord/index.ts
  src/background/features/autoAddNewNote/api/getLanguageFromPage.ts
  src/background/features/autoAddNewNote/api/getNoteFromDictionary.ts
  src/background/features/autoAddNewNote/api/index.ts
  src/background/features/autoAddNewNote/index.ts
  src/background/features/autoAddNewNote/ui.tsx
  src/background/shared/browser/contextMenus/chromeContextMenus.ts
  src/background/shared/browser/contextMenus/index.tsx
  src/background/shared/browser/contextMenus/types.ts
  src/background/shared/browser/index.ts
  src/content/dictionary/index.ts
  src/popup/entities/tab/index.ts
  src/popup/features/note/FillFlashcardForm/model/store.ts
  src/shared/entities/storage/model/Storage.ts
  src/shared/features/note/FillFlashcardForm/api/index.ts
  src/shared/shared/browser/__mocks__/chrome.ts
  src/shared/shared/browser/__test__/chrome.test.ts
  src/shared/shared/browser/chrome.ts
  src/shared/shared/browser/i18n/chromeI18n.ts
  src/shared/shared/browser/i18n/index.ts
  src/shared/shared/browser/i18n/types.ts
  src/shared/shared/browser/index.ts
  src/shared/shared/browser/port/chromePort.ts
  src/shared/shared/browser/port/index.ts
  src/shared/shared/browser/port/types.ts
  src/shared/shared/browser/runtime/chromeRuntime.ts
  src/shared/shared/browser/runtime/index.ts
  src/shared/shared/browser/runtime/types.ts
  src/shared/shared/browser/storage/chromeStorage.ts
  src/shared/shared/browser/storage/index.ts
  src/shared/shared/browser/storage/types.ts
  src/shared/shared/browser/tabs/chromeTabs.ts
  src/shared/shared/browser/tabs/index.ts
  src/shared/shared/browser/tabs/types.ts
  src/shared/shared/browser/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: divide browser functionaily to prevent chrome errors
  src/background/features/autoAddNewNote/index.ts
  src/background/features/autoAddNewNote/ui.tsx
  src/content/ankiWeb/index.ts
  src/content/dictionary/index.ts
  src/content/shared/browser/index.ts
  src/popup/entities/tab/index.ts
  src/popup/features/language/SelectLanguages/ui/SelectLanguages.tsx
  src/popup/features/note/DeleteNote/ui/index.tsx
  src/popup/features/note/EditNote/ui/index.tsx
  src/popup/features/note/FillFlashcardForm/ui/FillFlashcardForm.tsx
  src/popup/shared/browser/index.ts
  src/popup/shared/ui/CopyButton/index.tsx
  src/popup/shared/ui/Modal/index.tsx
  src/popup/shared/ui/Toast/helpers/getErrorToast.tsx
  src/popup/shared/ui/Toast/ui/Toast.tsx
  src/popup/widgets/note/NoteList.tsx
  src/shared/entities/dictionary/model/store.ts
  src/shared/entities/language/model/store.ts
  src/shared/entities/note/model/store.ts
  src/shared/entities/storage/model/Storage.ts
  src/shared/features/note/AutoAddNewNote/api/getLanguageFromPage.ts
  src/shared/features/note/AutoAddNewNote/api/getNoteFromDictionary.ts
  src/shared/features/note/AutoAddNewNote/api/index.ts
  src/shared/shared/browser/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add reexports
  src/background/features/autoAddNewNote/ui.tsx
  src/content/dictionary/index.ts
  src/shared/features/note/AutoAddNewNote/api/index.ts
  src/shared/features/note/AutoAddNewNote/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: fix call loop, when error setting error to storage
  src/shared/entities/error/model/store.ts
  src/shared/entities/storage/model/Storage.ts
  src/shared/shared/browser/storage/chromeStorage.ts
  src/shared/shared/browser/storage/types.ts
  src/shared/shared/libs/operationResult/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: add missed translations
  .prettierrc.json
  public/_locales/en/messages.json
  src/background/app/index.ts
  src/background/features/addNewWord/index.ts
  src/background/features/autoAddNewNote/ui.tsx
  src/background/shared/browser/contextMenus/index.tsx
  src/popup/entities/note/ui/NoNotes/index.tsx
  src/popup/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryList.tsx
  src/popup/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryVariant.tsx
  src/popup/features/language/SelectLanguages/ui/NoSelectedLanguages.tsx
  src/popup/features/language/SelectLanguages/ui/SelectLanguages.tsx
  src/popup/features/note/FillFlashcardForm/ui/FillFlashcardForm.tsx
  src/popup/features/note/FillFlashcardForm/ui/FillFlashcardFormNotAvailable.tsx
  src/popup/shared/ui/Modal/index.tsx
  src/popup/shared/ui/Tabs/ui/TabsList.tsx
  src/popup/shared/ui/Toast/helpers/getErrorToast.tsx
  src/popup/shared/ui/Toast/ui/Toast.tsx
  src/popup/widgets/note/NoteList.tsx
  src/shared/entities/dictionary/model/store.ts
  src/shared/entities/note/model/store.ts
  src/shared/shared/browser/__test__/chrome.test.ts
  src/shared/shared/browser/storage/chromeStorage.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add settings widget with dictionary, language selecting and logs
  src/popup/app/Popup.tsx
  src/popup/entities/error/ui/ErrorCard/index.tsx
  src/popup/shared/ui/icons/SettingsIcon.tsx
  src/popup/widgets/settings/index.ts
  src/popup/widgets/settings/ui/Settings.tsx
  src/popup/widgets/settings/ui/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add missed keys
  src/popup/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryList.tsx
  src/popup/widgets/note/NoteList.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add reset errors store function
  src/shared/entities/error/model/store.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: remove errors store from dictionary
  src/shared/entities/dictionary/model/__tests__/store.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add translations
  public/_locales/en/messages.json
  src/popup/features/note/FillFlashcardForm/ui/FillFlashcardFormNotAvailable.tsx
  src/popup/features/note/FillFlashcardForm/ui/styles.module.scss
  src/popup/shared/ui/Modal/index.tsx
  src/popup/widgets/settings/ui/Settings.tsx
  src/shared/entities/note/model/store.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: remove toast component
  src/popup/shared/ui/Toast/helpers/__mock__/getErrorToast.ts
  src/popup/shared/ui/Toast/helpers/getErrorToast.tsx
  src/popup/shared/ui/Toast/helpers/index.ts
  src/popup/shared/ui/Toast/index.tsx
  src/popup/shared/ui/Toast/model/__mock__/store.ts
  src/popup/shared/ui/Toast/model/index.ts
  src/popup/shared/ui/Toast/model/store.ts
  src/popup/shared/ui/Toast/model/types.ts
  src/popup/shared/ui/Toast/ui/Toast.tsx
  src/popup/shared/ui/Toast/ui/Toasts.tsx
  src/popup/shared/ui/Toast/ui/index.ts
  src/popup/shared/ui/Toast/ui/styles.module.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add alert component
  src/popup/shared/ui/Alert/index.tsx
  src/popup/shared/ui/Alert/styles.module.scss
  src/popup/shared/ui/Alert/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add result component
  src/popup/shared/ui/Result/index.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add error alert component
  src/popup/entities/error/ui/ErrorAlert/index.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: refine error list component
  src/popup/entities/error/ui/ErrorCard/index.tsx
  src/popup/entities/error/ui/ErrorList/index.tsx
  src/popup/entities/error/ui/ErrorList/styles.module.scss
  src/popup/entities/error/ui/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: remove toast usage
  src/__tests__/setupTests.ts
  src/popup/app/Popup.tsx
  src/popup/entities/tab/index.ts
  src/popup/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryVariant.tsx
  src/popup/features/language/SelectLanguages/ui/SelectLanguages.tsx
  src/popup/features/note/DeleteNote/ui/index.tsx
  src/popup/features/note/EditNote/ui/index.tsx
  src/popup/widgets/note/NoteList.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

style: refine styles
  src/popup/app/styles.scss
  src/popup/entities/note/ui/NoteCard/styles.module.scss
  src/popup/shared/ui/Modal/styles.module.scss
  src/popup/shared/ui/Tabs/ui/styles.module.scss
  src/popup/widgets/note/styles.module.scss
  src/popup/widgets/settings/ui/Settings.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

chore: add auto defining page language and apply it to popoup tabs
  src/background/features/addNewWord/index.ts
  src/background/shared/entities/language/currentPageLanguageStore.ts
  src/background/shared/entities/language/index.ts
  src/content/dictionary/index.ts
  src/popup/entities/language/index.ts
  src/popup/entities/language/model/currentPageLanguageStore.ts
  src/popup/entities/language/model/index.ts
  src/popup/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryList.tsx
  src/popup/features/note/FillFlashcardForm/model/store.ts
  src/popup/shared/ui/Tabs/ui/Tabs.tsx
  src/popup/widgets/note/NoteList.tsx
  src/shared/entities/language/model/helpers.ts
  src/shared/entities/language/model/index.ts
  src/shared/entities/language/model/store.ts
  src/shared/entities/tab/index.ts
  src/shared/shared/browser/tabs/chromeTabs.ts
  src/shared/shared/browser/tabs/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add editing latest note fields
  public/_locales/en/messages.json
  src/background/app/index.ts
  src/background/features/editLatestNote/index.ts
  src/background/features/editLatestNote/ui.tsx
  src/background/shared/browser/contextMenus/chromeContextMenus.ts
  src/background/shared/browser/contextMenus/types.ts
  src/content/dictionary/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: change portuguese to british portuguese
  src/shared/entities/dictionary/model/dictionaries.ts
  src/shared/entities/dictionary/model/helpers.ts
  src/shared/entities/language/model/languages.ts
  src/shared/entities/note/model/store.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: add retry to get tab
  src/background/shared/browser/index.ts
  src/shared/shared/browser/tabs/chromeTabs.ts
  src/shared/shared/browser/tabs/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: remove other language from dictionary and language selection, remove error alert
  src/popup/app/Popup.tsx
  src/popup/app/styles.scss
  src/popup/features/dictionary/SelectDictionaryVariant/ui/SelectDictionaryList.tsx
  src/popup/features/language/SelectLanguages/model/store.ts
  src/popup/features/language/SelectLanguages/ui/SelectLanguages.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown, stylelint --fix

fix: remove logging fallback when getting from chrome storage
  src/shared/shared/browser/storage/chromeStorage.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update README.md
  README.md
Due: none

fix: remove including other in select languaage functionality
  src/popup/features/language/SelectLanguages/model/store.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: remove circle dependencies
  .gitignore
  package.json
  pnpm-lock.yaml
  src/content/dictionary/index.ts
  src/shared/entities/dictionary/model/helpers.ts
  src/shared/entities/dictionary/model/store.ts
  src/shared/entities/error/model/store.ts
  src/shared/entities/language/model/helpers.ts
  src/shared/entities/language/model/index.ts
  src/shared/entities/language/model/languages.ts
  src/shared/entities/language/model/store.ts
  src/shared/entities/language/model/types.ts
  src/shared/entities/note/model/__tests__/store.test.ts
  src/shared/entities/note/model/store.ts
  src/shared/entities/storage/model/Storage.ts
  src/shared/shared/browser/storage/chromeStorage.ts
  src/shared/shared/browser/storage/index.ts
  src/shared/shared/browser/storage/types.ts
  src/shared/shared/libs/operationResult/index.ts
  vite.config.background.ts
  vite.config.dictionary.ts
  vite.config.popup.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: add test for chrome storage
  src/shared/shared/browser/storage/__mocks__/chromeStorageMock.ts
  src/shared/shared/browser/storage/__test__/chromeStorage.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: add mock for browser
  src/shared/shared/browser/storage/__mocks__/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  stylelint --fix: any of: *.{css,scss}
